.welcome {
    height: 50vh;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome h1 {
    text-align: center;
}

.courses h2{
    text-align: center;
    margin-bottom: var(--spacing-large);
    padding-top: var(--spacing-large);

} 
.courses p{
    text-align: center;
}
.courses .courses-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--spacing-medium) 0;
    margin-bottom: var(--spacing-medium)
}

.courses .course-wrapper{
    width: calc(100% / 3);
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-small);
    ;
}

.courses .course {
    width: 100%;
    margin-bottom: var(--spacing-medium);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: var(--spacing-tiny);
}

.courses .presentation-image {
    margin-bottom: var(--spacing-large);
    width: 100%;
    height: auto;
}

.courses .content {
    padding: 0 var(--spacing-small);
}

.courses .course h3{
    color: var(--text-primary);
    margin-bottom: var(--spacing-medium);
}

.courses .course p{
    color: #666;
    text-align: left;
    margin-bottom: var(--spacing-medium);
}

.courses .course .microsoft-logo{
    width: 80px;
    margin-left: var(--spacing-small);
    height: auto;
    vertical-align: middle;
}

.courses .course .details{
    color: #666;
    text-align: left;
    margin-bottom: var(--spacing-medium);
    font-size: var(--fs-medium);
}

.courses .course .material-symbols-outlined{
    font-size: var(--fs-medium);
    vertical-align: middle;
}

.courses .duration-months {
    margin-left: var(--spacing-small);
}

.courses .duration-hours {
    margin-left: var(--spacing-small);
}

.courses a {
    font-size: var(--fs-medium);
    width: 100px;
    background-color: var(--button-color);
    color: var(--text-white);
    text-align: center;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: var(--spacing-tiny);
    margin-bottom: var(--spacing-medium);
}

@media (max-width: 992px) {
    .courses .course-wrapper {
        width: 50%;
    }
   
    .welcome h1 {
        font-size: 2rem;
    }
  }

@media (max-width: 576px) {
    .courses .course-wrapper {
        width: 100%;
    }

    .welcome h1 {
        font-size: 2rem;
    }
  }